<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
         <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto"> 
                    <div class="row">
                        <!-- left side div -->
                        <div class="col-md-6 col-12 main-header-left ms-auto me-auto align-items-center">
                            <figure>
                              <img src="./images/404.png" alt="abad" class="img img-fluid " title="Abad ullah">
                            </figure>                                
                
                    
                            <p> Welcome to WeatherApp </p>
                            <h3>
                                {{errorMsg}}                     
                            </h3>
                            <a href="/"><button>Go Back</button></a >
                            </div>


    
</body>
</html>