<!doctype html>
<html lang="en">
  <head>
    {{>headerlinks}}
      </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
 {{>navbar}}

        <!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto"> 
                    <div class="row">
                        <!-- left side div -->
                        <div class="col-md-6 col-12 main-header-right align-items-center">
                            <figure>
                              <img src="./images/abad.png" alt="abad" class="img img-fluid mb-5" title="Abad ullah">
                            </figure>                                
                        </div>
                
                    
                        <div class="col-md-6 col-12 main-header-left ">
                            <p> Welcome to WeatherApp </p>
                            <h3>
                                I Am A <span class="text_color"> Mern Stack Developer </span>,
                                Fiver And Upwork                      
                            </h3>
                            <a href="https://www.fiverr.com/seller/levels" target="_blank"><button>About me</button></a >
                            </div>
                            <!-- right side div -->
                

                        <!-- footer -->
                       {{>footer}}
</body>
</html>